@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap'); /* font-family: 'Rubik', sans-serif; */


:root{
--pale-violet: hsl(276, 100%, 81%);
--moderate-violet: hsl(276, 55%, 52%);
--desaturated-dark-violet: hsl(271, 15%, 43%);
--greyish-blue: hsl(206, 6%, 79%);
--very-dark-desaturated-violet: hsl(271, 36%, 24%);
--dark-grayish-violet: hsl(270, 7%, 64%);
--white: hsl(0, 0%, 100%);
--light-greyish-violet: hsl(270, 20%, 96%);
--very-light-magenta: hsl(289, 100%, 72%);
}

body{
    font-size:16px;
    font-family:'Rubik', sans-serif;'
    background-color:var(--light-greyish-violet);
    margin:0 0;
}

.background{
    position:relative;
    z-index:-1;
    margin-top:0;
    margin-bottom:0;
    display:flex;
    justify-content:center;
}

.left-bkg{
    position:absolute;
    width:650px;
    height:550px;
    background-image:linear-gradient(to bottom, hsl(293, 100%, 63%),10%,hsl(264, 100%, 61%));
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    right:50%;
    margin-right:20px;
}

.right-bkg{
    position:fixed;
    bottom:0;
    width:650px;
    height:550px;
    background-image:linear-gradient(to bottom, hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    opacity:.05;
    left:50%;
}

.content{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-top:20px;
}

.phone{
    position:relative;
    width:280px;
    height:550px;
    background-color:white;
    box-shadow:2px 0px 5px lightgrey;
    border-radius:20px;
    z-index:2;
    margin-top:0;
    margin-bottom:-30px;
}

.phone:before{
    content:"";
    position:absolute;
    width:92%;
    height:95%;
    background-color:hsl(270, 20%, 96%);
    transform:translate(-50%, -50%);
    left:50%;
    top:50%;
    border-radius:15px;
}

.top{
    position:absolute;
    left:50%;
    width:255px;
    height:80px;
    background-image:linear-gradient(to left, hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    transform:translateX(-50%);
    margin-top:10px;
    border-radius:15px 15px 5px 5px;
    display:flex;
    flex-direction:row;
}

.top:before{
    content:"";
    position:absolute;
    background-color:white;
    width:55%;
    height:30%;
    left:50%;
    transform:translateX(-50%);
    border-radius:0 0 15px 15px;
}

i:nth-child(1){
    position:absolute;
    top:50%;
    color:white;
    margin-top:2px;
    margin-left:15px;
}

.top img{
    position:absolute;
    width:25px;
    border-radius:50%;
    top:50px;
    transform:translateY(-50%);
    border:1px solid white;
    margin-left:35px;
}

.toptext{
    margin-left:70px;
    margin-top:25px;
}

h2{
    color:white;
    font-size:.8em;
    font-weight:400;
    top:50%;
}

.top p{
    font-size:.7em;
    color:var(--pale-violet);
    margin-top:-10px;
}

.dots{
    position:absolute;
    top:50%;
    color:white;
    margin-top:2px;
    margin-left:240px;
}

.chat{
    display:flex;
    flex-direction:column;
    position:absolute;
    width:240px;
    height:335px;
    left:50%;
    top:48%;
    transform:translate(-50%, -50%);
}

.received{
    background:hsl(274, 41%, 90%);
    border-radius:10px 10px 10px 5px;
    width:125px;
    margin:5px;
    margin-left:-1px;
    line-height:.75em;
}

.received p{
    color:var(--moderate-violet);
    font-size:.5em;
    margin-left:5px;
}

.sent{
    border-radius:10px 10px 5px 10px;
    background:var(--white);
    width:120px;
    margin:5px;
    margin-left:120px;
    line-height:.75em;
    box-shadow: 2px 2px 5px 2px rgb(231, 231, 231);
}

.one p{
    margin-right:10px;
}
.four{
    width:80px;
    margin-left:155px;
    padding-left:5px;
}

.five p{
    margin-right:10px;
}

.sent p{
    color:var(--desaturated-dark-violet);
    font-size:.5em;
    margin-left:5px;
}

.pics{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    margin-right:-5px;
}
.dogpic{
    width:40px;
    border-radius:15px;
    padding:5px;
}

.options{
    width:150px;
    height:30px;
    background-image:linear-gradient(to right, hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    border-radius:10px 10px 10px 5px;
    margin:5px;
    margin-left:-1px;
    padding:0;
    display:flex;
    flex-direction:row;
    align-items:center;
    
}

.circle{
    width:10px;
    height:10px;
    border-radius:50%;
    border:1px solid var(--very-light-magenta);
    background:transparent;
    margin-left:5px;
}

.options p{
      font-size:.5em;
      color:var(--pale-violet);
      margin-left:5px
}

.options h3{
    font-size:.7em;
    color:var(--white);
    margin-left:30px;
}

.op-two h3{
    margin-left:45px;
}

.bottom{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.input{
    position:relative;
    width:300px;
    height:30px;
    border-radius:50px;
    background-color:var(--white);
    margin-top:20px;
    display:flex;
    align-items:center;
}

.input p{
    font-size:.5em;
    color:var(--greyish-blue);
    margin-left:10px;
}

.send{
    width:20px;
    height:20px;
    border-radius:50%;
    background-color:var(--very-dark-desaturated-violet);
    margin-left:140px;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:700;
}

.phonediv{
    transform:scale(.8);
}

.text{
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    z-index:2;
    padding:0 30px;
    margin-top:0;
}

.text h1{
    color:var(--very-dark-desaturated-violet);
    font-size:1.5em;
    font-weight:500;
}

.text p{
    color:var(--dark-grayish-violet);
    line-height: 1.5em;
    font-weight:400;
    font-size:.85em;
    margin:5px 25px 20px 25px;
    
}